body{
    color: black;
    background-color: white;
}

.menu{
    background-color: black;
    background-size: 4%;
    height: 100px;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttons{
    display: flex;
    gap: 50px;
    background-color: gold;
    background-size: 4%;
    height: 70px;
    padding-left: 20px;
    align-items: center;
}

#csapat:hover,
 #trofeak:hover,
 #meccsek:hover {
    background-color: white;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
#csapat,
 #trofeak,
 #meccsek{
  border: 3px solid gold;  
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
 }

.buttons a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.menu img{
    width: 4%;
    
}

h1{
    color: white;
}

.logo{
    text-align: center;
}

.bev-szoveg{
    font-size: 1.2em;
    text-align: center;
}

.link{
    text-align: center;
}

link:hover{
    color: black;
}

link:visited{
    color: black;
}

link::after{
    color: black;
}

link::before{
    color: black;
}