body{
    color: black;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.menu{
    background-color: black;
    background-size: 4%;
    height: 100px;
    background-repeat: no-repeat;
    color: white;
    
}

.logo{
    text-align: center;
}

.bev-szoveg{
    text-align: center;
}

.link{
    text-align: center;
}

link:hover{
    color: black;
}

link:visited{
    color: black;
}

link::after{
    color: black;
}

link::before{
    color: black;
}