body {
    background-image: url(https://www.juventus.com/images/image/private/t_editorial_landscape_12_desktop/v1721643850/dev/g8fyjzzbsk0sleq69k8r.jpg);
    color: gold;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: gold;
}